project/flows.json
[{"id":"e8d2e6b6.7d281","type":"tab","label":"Flow 1"},{"id":"d5f3ebaf.231ac","type":"scenario","z":"e8d2e6b6.7d281","name":"","scenes":[{"value":"[255,255,255]","time":"1000"}],"x":340,"y":60,"wires":[["3e511ec4.93b17a"]]},{"id":"3e511ec4.93b17a","type":"debug","z":"e8d2e6b6.7d281","name":"","active":false,"console":"false","complete":"false","x":530,"y":60,"wires":[]},{"id":"1e2874cb.7232db","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":60,"wires":[["d5f3ebaf.231ac"]]},{"id":"fc45db07.1fb14","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":120,"wires":[["d5f3ebaf.231ac"]]},{"id":"9a712a65.49bfe8","type":"unsafe-function","z":"e8d2e6b6.7d281","name":"","func":"//Node gameloop\n\nvar NanoTimer = require('nanotimer');\n\nvar count = 0;\n\nvar source = msg.payload.source;\nvar target = msg.payload.target;\n\nvar interval = 16;\nvar time = 2500;\n\n//corrected interval time / steps\n\nfunction main(){\n    var timer = new NanoTimer();\n    var values = valuesToInterpolate(source, target, interval, time);\n    //timer.setInterval(outputSteps, [values], `${interval}m`);\n    var realInterval;\n    if (Array.isArray(values[0])) {\n        realInterval = (time / values[0].length) * 1000;\n    } else {\n        realInterval = (time / values.length) * 1000;\n    }\n    \n    \n    timer.setInterval(outputSteps, [values], `${realInterval}u`);\n    timer.setTimeout(finish, [timer], `${time}m`);\n}\n\nfunction outputSteps(values){\n    //console.log('T - ' + values[count]);\n    if (Array.isArray(values[0])) {\n        var output = [];\n        for (var e in values) {\n            output.push(values[e][count]);\n        }\n        msg.payload = output;\n        node.send(msg);\n    } else {\n        msg.payload = values[count];\n        node.send(msg);\n    }\n    count++;\n}\n\nfunction finish(timer){\n    timer.clearInterval();\n    count = 0;\n    console.log('And we\\'re done');\n\n}\n\nmain();\n\nfunction valuesToInterpolate(source, target, interval, time) {\n    //source 0\n    //target 255\n    \n    let steps = Math.floor(time/interval);\n\n    var output = [];\n\n    if (Array.isArray(source) && Array.isArray(target)) {\n        for (var i = 0; i < source.length; i++) {\n            var currentArray = [];\n            let increment = (target[i]-source[i]) / steps;\n            for (let v = 0 ; v <= steps ; v++) {\n                currentArray.push(source[i] + (v * increment));\n            }\n            output.push(currentArray);\n        }\n\n    } else {\n        let increment = (target - source) / steps;\n        for (let v = 0 ; v <= steps ; v++) {\n            //node.warn(v);\n            output.push(source + (v * increment));\n        }\n    }\n    return output;\n}\n","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["75bd0d15.1936dc","f816a9a7.b03fe8"]]},{"id":"2f0ea299.47c8be","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"{\"source\":[178,238,119,26,223,92,39,226,231,251,53,214,29,95,37],\"target\":[254,97,54,176,116,5,232,250,127,45,91,9,12,192,42]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":380,"wires":[["9a712a65.49bfe8"]]},{"id":"75bd0d15.1936dc","type":"debug","z":"e8d2e6b6.7d281","name":"","active":true,"console":"false","complete":"false","x":510,"y":260,"wires":[]},{"id":"f816a9a7.b03fe8","type":"osc","z":"e8d2e6b6.7d281","name":"","path":"/array","metadata":false,"x":550,"y":400,"wires":[["ac75f560.8ee318"]]},{"id":"ac75f560.8ee318","type":"udp out","z":"e8d2e6b6.7d281","name":"","addr":"localhost","iface":"","port":"3333","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":750,"y":400,"wires":[]},{"id":"1210df70.8e8e29","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"{\"target\":[178,238,119,26,223,92,39,226,231,251,53,214,29,95,37],\"source\":[254,97,54,176,116,5,232,250,127,45,91,9,12,192,42]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":420,"wires":[["9a712a65.49bfe8"]]},{"id":"c1f42cd3.3c346","type":"artnet","z":"e8d2e6b6.7d281","name":"","x":550,"y":360,"wires":[["9a440454.0d0a98"]]},{"id":"9a440454.0d0a98","type":"udp out","z":"e8d2e6b6.7d281","name":"","addr":"192.168.0.50","iface":"","port":"6454","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":770,"y":360,"wires":[]},{"id":"48bcce25.7266","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":600,"wires":[["57b82168.df66a"]]},{"id":"57b82168.df66a","type":"unsafe-function","z":"e8d2e6b6.7d281","name":"","func":"var num = msg.payload\nmsg.payload = {};\nmsg.payload.source = context.last;\n\nmsg.payload.target = Array.apply(null, Array(num)).map(_ => Math.floor(Math.random()*255));\ncontext.last = msg.payload.target;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["9a712a65.49bfe8"]]},{"id":"3a386d57.b97e72","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":560,"wires":[["57b82168.df66a"]]},{"id":"d0a78055.1afcf8","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"{\"source\":0,\"target\":255}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":340,"wires":[["9a712a65.49bfe8"]]},{"id":"81859800.c472","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"{\"source\":0,\"target\":16}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":280,"wires":[["9a712a65.49bfe8"]]},{"id":"ae978773.66e3b8","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"{\"source\":0,\"target\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":200,"y":240,"wires":[["9a712a65.49bfe8"]]},{"id":"8b77d26e.f54a8","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"{\"source\":[0,255,127],\"target\":[255,0,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":480,"wires":[["9a712a65.49bfe8"]]},{"id":"116c8fdd.1114a","type":"inject","z":"e8d2e6b6.7d281","name":"","topic":"","payload":"{\"source\":-1,\"target\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["9a712a65.49bfe8"]]}]